body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light Blue */
    text-align: center;
    margin-top: 50px;
  }
  
  #container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px; /* Adjusted margin */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .result-image {
    display: none;
    margin-top: 20px;
    max-width: 100%;
  }
  